In [5]:
import sys
import os
# Adiciona o diretório raiz do projeto ao sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(),'..', 'src')))

from corretoras.funcoes_bybit import busca_velas

# Configurações
simbolo = 'BTCUSDT'
intervalo = '15'

df = busca_velas(simbolo, intervalo, [9, 21])
df.tail()

,abertura,maxima,minima,fechamento,volume,turnover,EMA_9,EMA_21
tempo_abertura,,,,,,,,
2025-09-04 20:00:00,109747.1,110170.0,109693.7,110109.3,630.632,69385807.8551,109899.160410,109896.545145
2025-09-04 20:15:00,110109.3,110373.0,110038.4,110306.7,830.806,91599541.8856,109980.668328,109933.831950
2025-09-04 20:30:00,110306.7,110320.0,110209.2,110247.7,456.174,50293006.4233,110034.074662,109962.365410
2025-09-04 20:45:00,110247.7,110363.1,110202.7,110363.0,360.669,39777920.0575,110099.859730,109998.786736
2025-09-04 21:00:00,110363.0,110433.0,110283.7,110284.6,386.327,42642408.0174,110136.807784,110024.769760

In [6]:
from managers.data_manager import prepare_market_data

df = prepare_market_data(
    df,
    use_emas=True,
    emas_periods=[5, 15],
    use_rsi=True,
    use_macd=True,
    use_atr=True,
    use_adx=True,
    use_bb=True,
    use_peak_type=True,
    use_peaks=True,
)

df.tail()

,abertura,maxima,minima,fechamento,volume,turnover,EMA_9,EMA_21,EMA_5,EMA_15,...,BBM_20_3.0,BBU_20_3.0,BBB_20_3.0,BBP_20_3.0,peak_type,peaks,top_high,top_close,bottom_low,bottom_close
tempo_abertura,,,,,,,,,,,,,,,,,,,,,
2025-09-04 20:00:00,109747.1,110170.0,109693.7,110109.3,630.632,69385807.8551,109899.160410,109896.545145,109939.4186,109874.1117,...,109709.855,110455.953935,1.360131,0.767689,0,0,NaN,NaN,NaN,NaN
2025-09-04 20:15:00,110109.3,110373.0,110038.4,110306.7,830.806,91599541.8856,109980.668328,109933.831950,110061.8457,109928.1852,...,109752.585,110571.507943,1.492307,0.838319,0,0,NaN,NaN,NaN,NaN
2025-09-04 20:30:00,110306.7,110320.0,110209.2,110247.7,456.174,50293006.4233,110034.074662,109962.365410,110123.7972,109968.1245,...,109794.965,110636.910450,1.533669,0.768862,0,0,NaN,NaN,NaN,NaN
2025-09-04 20:45:00,110247.7,110363.1,110202.7,110363.0,360.669,39777920.0575,110099.859730,109998.786736,110203.5314,110017.4840,...,109840.610,110724.804718,1.609960,0.795404,-1,0,110363.1,110363.0,NaN,NaN
2025-09-04 21:00:00,110363.0,110433.0,110283.7,110284.6,386.327,42642408.0174,110136.807784,110024.769760,110230.5543,110050.8735,...,109875.680,110786.515551,1.657938,0.724475,0,0,NaN,NaN,NaN,NaN

In [7]:
from managers.data_manager import prepare_market_data

df = prepare_market_data(
    df,
    use_stoch=True,
    stoch_config=[5, 3, 3]
)

df.tail()

,abertura,maxima,minima,fechamento,volume,turnover,EMA_9,EMA_21,EMA_5,EMA_15,...,BBB_20_3.0,BBP_20_3.0,peak_type,peaks,top_high,top_close,bottom_low,bottom_close,STOCHk_5_3_3,STOCHd_5_3_3
tempo_abertura,,,,,,,,,,,,,,,,,,,,,
2025-09-04 20:00:00,109747.1,110170.0,109693.7,110109.3,630.632,69385807.8551,109899.160410,109896.545145,109939.4186,109874.1117,...,1.360131,0.767689,0,0,NaN,NaN,NaN,NaN,49.08,50.00
2025-09-04 20:15:00,110109.3,110373.0,110038.4,110306.7,830.806,91599541.8856,109980.668328,109933.831950,110061.8457,109928.1852,...,1.492307,0.838319,0,0,NaN,NaN,NaN,NaN,65.68,51.94
2025-09-04 20:30:00,110306.7,110320.0,110209.2,110247.7,456.174,50293006.4233,110034.074662,109962.365410,110123.7972,109968.1245,...,1.533669,0.768862,0,0,NaN,NaN,NaN,NaN,86.97,67.24
2025-09-04 20:45:00,110247.7,110363.1,110202.7,110363.0,360.669,39777920.0575,110099.859730,109998.786736,110203.5314,110017.4840,...,1.609960,0.795404,-1,0,110363.1,110363.0,NaN,NaN,90.51,81.05
2025-09-04 21:00:00,110363.0,110433.0,110283.7,110284.6,386.327,42642408.0174,110136.807784,110024.769760,110230.5543,110050.8735,...,1.657938,0.724475,0,0,NaN,NaN,NaN,NaN,86.94,88.14